$darkColor: #1f1f1f;
$LdsColour: #4a59e9;
$FontColor: #efefef;
$gray: #2f3236;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', 'sans-serif';
    outline: none;
}
html {
    width: 100%;
    max-width: 100%;
}

body {
    width: 100%;
    max-width: 100%;
    background: $darkColor;
}

p {
    color: $FontColor;
    padding: 5px;
}

h1,
h2,
h3,
h4,
h5 {
    color: $FontColor;
}

.card {
    padding: 10px;
    margin: 10px;
    max-width: 50%;
    background: $gray;
}

.card_body {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.buttons {
    margin: 10px;
}
a {
    color: $FontColor;
    outline: 1px solid rgb(255, 255, 255);
    margin: 5px;
}
// PLACEHOLDER COLORS

.account {
    outline: 1px solid rgb(255, 255, 255);
    margin: 2px;
}
.balances {
    outline: 1px solid rgb(226, 168, 81);
    margin: 2px;
}
.balances_div {
    outline: 1px solid rgb(226, 168, 81);
    margin: 10px;
    padding: 10px;
}
.owner {
    outline: 1px solid red;
    margin: 10px;
}

.money {
    outline: 1px solid yellow;
    margin: 10px;
}
.side {
    outline: 1px solid white;
    margin: 10px;
}
.reserved {
    outline: 1px solid blue;
    margin: 10px;
}
.status {
    outline: 1px solid rgb(255, 255, 255);
    margin: 10px;
}

.bank {
    outline: 1px solid yellow;
    margin: 10px;
}
