<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script
            src="https://apis.google.com/js/platform.js"
            async
            defer
        ></script>
        <meta
            name="google-signin-client_id"
            content="420308613466-s0vsdnds6dvlecnbquf95lm6tso3l047.apps.googleusercontent.com"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/index.min.css" />
        <title>LDS-AUTHENTIFICATION</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="card">
                <h1>Card</h1>
                <div class="card-body">
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </div>
                <div hidden="true" class="buttons">
                    <a href="/offer">offer</a>
                    <a href="/dispenser">dispenser</a>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/js/auth.js"></script>
    </body>
</html>
