<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/index.min.css" />
        <title>LDS-DISPENSER</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="buttons">
                <a href="/dispenser">dispenser</a>
                <a href="/">index</a>
            </div>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/js/offer.js"></script>
    </body>
</html>
